<h1> List of Members </h1>

#if ($members)
  <ul>
    #foreach ($member in $members)
      <li><a href="/members/$member.getId()">$member.getMemberName()</a></li>
      <!-- <li><a href="/members/$member.getId()">$member.getMemberSkills()</a></li> -->
    #end
  </ul>
#else
  <p>No members to display</p>
#end

<a href="/members/new">Add New Member</a>
