#if ($newTeamsKey)
    <h2> All Teams </h2>
  #foreach($Team in $newTeamsKey)
    <p>$Team.getTeamName()</p>
    <p>$Team.getTeamGoal()</p>
  #end
#else
  <p><em>No Teams to show so far</em></p>
#end
  <h3> <a href="/">Home </a></h3>

<h2> Your Entry: </h2>
<br>
<p>Artist:  $newTeamSingular.getTeamName()</p>
<br>
<p>Artist:  $newTeamSingular.getTeamGoal()</p>
