#if ($newTeamKey)
  #foreach($team in $newTeamKey)

    <p>$team.getTeamName()</p>
    <p>$team.getTeamGoal()</p>
    <p>$team.getMember()</p>

  #end
#else
  <p><em>No teams to show so far</em></p>
  <p> <a href="/">Home </a></p>
#end
