<h1>$team.getTeamName() members:</h1>

    #foreach($member in $team.getMembers())

        <p>Team member name: $member.getMemberName()</p>
        <p>Team member skills: $member.getMemberSkills()</p>
        <br>
          #end

<a href="/teams/$team.getId()/members/new">Add a new member</a>
<a href="/teams">All teams</a>
