#if ($newTeamsKey)
    <h2> All Teams </h2>
  #foreach($Team in $newTeamsKey)
    <p><a href = "/Teams/$Team.getId()">$Team.getTeamName()</a></p>
    <br>
    <p>$Team.getTeamGoal()</p>

  #end
#else
  <p></p>
#end








<h2> Your Entry: </h2>
<br>
<p>Team Name:  $newTeamSingular.getTeamName()</p>
<br>
<p>Team Goal:  $newTeamSingular.getTeamGoal()</p>
